* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px;

}

.favorable::after {
    color: green;
    content: " █ favorable"
}

.moderate::after {
    color: gray;
    content: " █ moderate"
}

.severe::after {
    color: red;
    content: " █ severe"
}

.fun-color {
    color: aliceblue;
    background-color: coral;
}

.card-color {
    background-color: aquamarine;
}

.card-current-color {
    background-color: rgb(217, 175, 237);
}

.card-searched-color {
    background-color: khaki;
}