*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: gray;
}

.severe {
    background-color: red;
}